[run]
branch = True
source = phonon/
include =
    phonon/update.py
    phonon/reference.py
    phonon/process.py
    phonon/nodelist.py
    phonon/__init__.py 
    phonon/cache.py
[report]
exclude_lines =
    pragma: no cover
    def __repr__
    def __str__
    def __unicode__
    while True
    time.sleep
precision = 2
show_missing = True
title = DisRef Coverage Report
