[run]
branch = True
source = phonon/
include =
    phonon/update.py
    phonon/reference.py
    phonon/process.py
    phonon/exceptions.py
    phonon/__init__.py 
    phonon/cache.py
    phonon/client/config/__init__.py
    phonon/client/config/node.py
    phonon/client/config/shard.py
    phonon/client/config/router.py
    phonon/client/__init__.py
    phonon/logger.py
    phonon/operation.py
    phonon

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    def __str__
    def __unicode__
    while True
    time.sleep
precision = 2
show_missing = True
title = Phonon Coverage Report
